<div class="container mt-5 ">
  <!-- Content here -->
  <p class="mt-lg-5">detailmark works!</p>
  <p class="mt-lg-5" style="color: white">detailmark works!</p>
  <h3 style="text-align: center">Thay đổi mật khẩu</h3>
  <div class="d-flex justify-content-center mt-3">
    <div class="w-50">
      <form (ngSubmit)="changePassword()" [formGroup]="formpass">
        <div class="form-group row ">
          <label for="passwordold" class="col-sm-4 col-form-label"> Mật khẩu cũ <b style="color: red">(*)</b></label>
          <div class="col-sm-8">
            <input type="password" class="form-control" formControlName="passwordold" id="passwordold"
                   placeholder="Mật khẩu cũ">
            <small style="color: red;margin-left: 79px"
                   *ngIf="formpass.get('passwordold')?.hasError('required')  && formpass.get('passwordold')?.touched">
              Mật khẩu cũ không được để trống
            </small>
            <small style="color: red;margin-left: 79px"
                   *ngIf="isdisplayerror">
              Mật khẩu cũ không đúng
            </small>
          </div>

        </div>

        <div class="form-group row">
          <label for="passwordnew" class="col-sm-4 col-form-label"> Mật khẩu mới <b style="color: red">(*)</b></label>
          <div class="col-sm-8">
            <input type="password" formControlName="password" class="form-control" id="passwordnew"
                   placeholder="Mật khẩu mới">
            <small style="color: red;margin-left: 79px"
                   *ngIf="formpass.get('password')?.hasError('required')  && formpass.get('password')?.touched">
              Mật khẩu không được để trống
            </small>
          </div>

        </div>
        <div class="form-group row">
          <label for="passwordconfirm" class="col-sm-4 col-form-label"> Xác nhận mật khẩu <b style="color: red">(*)</b></label>
          <div class="col-sm-8">
            <input type="password" class="form-control" formControlName="comfirmPassword" (change)="checkpass()"
                   id="passwordconfirm"
                   placeholder="Xác nhận mật khẩu">
            <small style="color: red;margin-left: 79px"
                   *ngIf="formpass.get('comfirmPassword')?.hasError('required')  && formpass.get('comfirmPassword')?.touched">
              Mật khẩu xác nhận không được để trống
            </small>
            <small style="color: red;margin-left: 79px"
                   *ngIf="isdisplay">
              Mật khẩu không khớp với mật khẩu mới
            </small>
          </div>
         <p><b style="color: red">(*) là các trường không để trống</b></p>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" [disabled]="formpass.invalid">Cập nhật</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div style="height: 200px"></div>
