<div class="homepage">
  <div class="homepage__section ">
    <div id="carouselExampleCaptions" class="carousel slide container" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="row justify-content-md-center">
            <div class="col-12 col-sm-12	col-md-12 col-lg-6	col-xl-6 col-xxl-6">
              <h3 class="">Hành trình về Địa chỉ đỏ của Liên đội trường tiểu học Tịnh Đông</h3>
              <div class="mt-3 carousel__descrition">Hành trình về Địa chỉ đỏ của Liên đội.
                Chào mừng kỉ niệm 47 năm ngày GPMN 30/4 và Quốc tế Lao động 1/5, chiều 29/4 LĐ Trường TH Tịnh Đông tổ
                chức cho BCH Liên Chi đội đi đến Địa chỉ đỏ tại địa phương.
              </div>
              <div class="mt-4">
                <app-favorite-button [favorite]="favourite"> Xem thêm</app-favorite-button>
              </div>
            </div>
            <img src={{image[0]}} class="carousel__image col-12	col-sm-12	col-md-12 col-lg-6	col-xl-6	col-xxl-6"
              alt="...">
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-md-center">
            <div class="col-12 col-sm-12	col-md-12 col-lg-6	col-xl-6 col-xxl-6">
              <h3 class="">Hành trình về Địa chỉ đỏ của Liên đội trường tiểu học Tịnh Đông</h3>
              <div class="mt-3 carousel__descrition">Hành trình về Địa chỉ đỏ của Liên đội.
                Chào mừng kỉ niệm 47 năm ngày GPMN 30/4 và Quốc tế Lao động 1/5, chiều 29/4 LĐ Trường TH Tịnh Đông tổ
                chức cho BCH Liên Chi đội đi đến Địa chỉ đỏ tại địa phương.
              </div>
              <div class="mt-4">
                <app-favorite-button [favorite]="favourite"> Xem thêm</app-favorite-button>
              </div>
            </div>
            <img src={{image[0]}} class="carousel__image col-12	col-sm-12	col-md-12 col-lg-6	col-xl-6	col-xxl-6"
              alt="...">
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-md-center">
            <div class="col-12 col-sm-12	col-md-12 col-lg-6	col-xl-6 col-xxl-6">
              <h3 class="">Hành trình về Địa chỉ đỏ của Liên đội trường tiểu học Tịnh Đông</h3>
              <div class="mt-3 carousel__descrition">Hành trình về Địa chỉ đỏ của Liên đội.
                Chào mừng kỉ niệm 47 năm ngày GPMN 30/4 và Quốc tế Lao động 1/5, chiều 29/4 LĐ Trường TH Tịnh Đông tổ
                chức cho BCH Liên Chi đội đi đến Địa chỉ đỏ tại địa phương.
              </div>
              <div class="mt-4">
                <app-favorite-button routerLink="news" [favorite]="favourite"> Xem thêm</app-favorite-button>
              </div>
            </div>
            <img src={{image[0]}} class="carousel__image col-12	col-sm-12	col-md-12 col-lg-6	col-xl-6	col-xxl-6"
              alt="...">
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="homepage__aboutus">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6	col-xl-6 col-xxl-6">
          <div class="aboutus__img">
            <img src={{aboutus_image}} alt="">
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
          <div class="aboutus__content">
            <div class="aboutus__title pb-3"><i class="pe-3 bi bi-people-fill"></i>Về chúng tôi </div>
            Hệ thống Trường học Quốc tế<br />
            <div class="aboutus__desc mt-3">Quý phụ huynh và các em học sinh thân mến. <br />Trường tiểu học tịnh đông
              theo đuổi tầm nhìn trở thành một hệ thống trường học xuất sắc, không ngừng lớn mạnh - nơi cung cấp cho học
              sinh nền tảng học vấn vững chắc, thông qua sự kết hợp hài hoà chương trình giáo dục hiện tại, giúp em sẵn
              sàng đương đầu với thử thách của cuốc inngs cũng như thành công ở những bậc học cao hơn, dông thời vẫn giữ
              gìn những giá trị văn hoá, truyền thống của dân tộc</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="homepage__activity-news">
    <div class="container">
      <div class="activity-news__title">
        <i class="me-2 bi bi-newspaper"></i>
        Tin tức hoạt động
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-4 col-xxl-4" *ngFor="let e of listNews">
          <div id={{e.id}} class="activity-container">
            <div  class="activity-image">
              <img src={{e.images[0].linkimage}} alt="">
            </div>
            <div class="activity-text">
              <h4 class="mt-2">{{e.tieuDe}} </h4>
              <div class="activity-text__desc">{{e.noiDung}}</div>
            </div>
          </div>
        </div>  
      </div>
      <div class="activity-button">
        <app-favorite-button [favorite]="favourite">
            <div class="pe-3 ps-3"><a routerLink="news"> Xem thêm</a></div>
        </app-favorite-button>
      </div>
    </div>

  </div>
</div>
