<footer>
    <div class=" footer container"> 
       <div class="row">
         <div class="content__footer col-12	col-sm-12	col-md-12 col-lg-6	col-xl-6	col-xxl-6">
            <h1>Trường tiểu học Tịnh Đông</h1>
            <div class="footer__content-reponsibility">
              Chịu trách nhiệm nội dung
            </div>
            <div class="content__footer-details">
              Ban biên tập Trang thông tin điện tử Trường tiếu học Tịnh Đông
            </div>
         </div>
         <div class="details__footer col-12	col-sm-12	col-md-12 col-lg-6	col-xl-6	col-xxl-6">
            <h4 class="details__footer-title">
              Liên hệ
            </h4>
            <div class="details__footer-list">
              <div class="details__footer-item">
                <div class="details__footer-icon"> 
                  <i class="bi bi-telephone-inbound-fill"></i>
                </div>
                <div class="details__footer-content">Điện thoại : 0377017489</div>
              </div>
              <div class="details__footer-item">
                <div class="details__footer-icon"> 
                  <i class="bi bi-envelope-check-fill"></i>
                </div>
                <div class="details__footer-content">Email: nguyenuyen552000@gmail.com </div>
              </div>
              <div class="details__footer-item">
                <div class="details__footer-icon"> 
                  <i class="bi bi-geo-alt-fill"></i>
                </div>
                <div class="details__footer-content">Địa chỉ : Đội 7, xã tịnh đông, huyện Sơn Tịnh, Tỉnh Quảng Ngãi</div>
              </div>
            </div>
         </div>
       </div>
    </div>
  </footer>