<div class="container mt-5">
  <!-- Content here -->
  <p class="mt-lg-5">detailmark works!</p>
  <p class="mt-lg-5" style="color: white" >detailmark works!</p>
  <p class="mt-lg-5"  >Không được vô trang này</p>
  <p class="mt-lg-5" style="color: white" >detailmark works!</p>
  <p class="mt-lg-5" style="color: white" >detailmark works!</p>
  <p class="mt-lg-5" style="color: white" >detailmark works!</p>
  <p class="mt-lg-5" style="color: white" >detailmark works!</p>


  <p class="mt-lg-5" style="color: white" >detailmark works!</p>
  <p class="mt-lg-5" style="color: white" >detailmark works!</p>

</div>
